html[data-theme='dark'] {
  --text: #fff;
  --background: #000;
  --linkTag: #0bc;
  --linkA: #0f0;
  --linkB: #ff0096;
  --linkC: #0bc;
}

html[data-theme='light'] {
  --text: #000;
  --background: #fff;
  --linkTag: #00a8b7;
  --linkA: #00cc00;
  --linkB: #e50087;
  --linkC: #00a8b7;
}

body {
  background-color: #000;
}

.header {
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle {
  font-size: 1.5rem;
  color: var(--text);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

#console {
  font-family: courier, monospace;
  color: #fff;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 14px;
}

a {
  color: var(--linkTag);
  text-decoration: none;
}

#a {
  color: var(--linkA);
}

#c {
  color: var(--linkC);
}

#b {
  color: var(--linkB);
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}

@keyframes change {
  0% {
    color: var(--linkA);
  }
  50% {
    color: var(--linkA);
  }
  99% {
    color: var(--background);
  }
}
